@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #020617; /* slate-950 */
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b; /* slate-800 */
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #312e81; /* indigo-900 */
  }
}